@font-face {
    font-family: "Environmental Station Alpha";
    src: url("../fonts/Environmental Station Alpha.ttf");
}

@font-face {
    font-family: "Fez";
    src: url("../fonts/Fez.ttf");
}